<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_Univers.Properties.Settings.ConnectionString" connectionString="Data Source=ФУРИН-ПК\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DB_Univers.Properties.Settings.УниверситетConnectionString"
            connectionString="Data Source=ФУРИН-ПК\SQLEXPRESS;Initial Catalog=Университет;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>